<footer class="bg-black text-white p-8">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-6 text-center md:text-left">

    <div>
      <h2 class="font-bold text-lg mb-2">Sobre Nosotros</h2>
      <p>Blackened Camisetas</p>
      <p>Somos la mejor tienda de artículos de metal</p>
      <p>Encuentra aquí las mejores camisetas y discos</p>
    </div>

    <div>
      <h2 class="font-bold text-lg mb-2">Secciones</h2>
      <div class="flex flex-col gap-1">
        <a class="hover:font-bold" [routerLink]="['/home']">Inicio</a>
        <a class="hover:font-bold" [routerLink]="['/home/shirts']">Camisetas</a>
        <a class="hover:font-bold" [routerLink]="['/home/albums']">Álbumes</a>
      </div>
    </div>

    <div>
      <h2 class="font-bold text-lg mb-2">Contáctanos</h2>
      <p class="flex items-center justify-center md:justify-start gap-2">
        <i class="fa-solid fa-envelope"></i> blackenedcamisetas@gmail.com
      </p>
      <p class="flex items-center justify-center md:justify-start gap-2">
        <i class="fa-solid fa-phone"></i> 3022773679
      </p>
      <p class="flex items-center justify-center md:justify-start gap-2">
        <i class="fa-solid fa-location-dot"></i> Centro Comercial Titán Plaza – Local 230
      </p>
    </div>

  </div>
</footer>

